@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./utils/variables.scss";

@import "./vendors/reset.meyerweb.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/loader.scss";

@import "./pages/homepage.scss";
@import "./pages/foodpage.scss";

@import "./components/button.scss";
@import "./components/sectionTitle.scss";
@import "./components/like-checkbox.scss";
@import "./components/menu-item-list.scss";
@import "./components/spinner.scss";
@import "./components/badge.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

div.main-app {
}

section > .title-content,
section > .content {
  max-width: 1050px;
  margin: auto;
}
