$primary-color: #9356dc;
$primary-color-hover: #9356dcaa;
$secondary-color: #ff79da;
$secondary-color-hover: #ff79daaa;
$tertiary-color: #99e2d0;

$icon-primary-color: #7e7e7e;

$bg-primary-color: white;
$bg-secondary-color: #f6f6f6;
$bg-tertiary-color: #353535;

$primary-badge-color: #99e2d0;
$text-badge-color: #008766;

$main-font: "Roboto", sans-serif;

:root {
  --primary-color: #{$primary-color};
  --primary-color-hover: #{$primary-color-hover};
  --secondary-color: #{$secondary-color};
  --secondary-color-hover: #{$secondary-color-hover};
  --tertiary-color: #{$tertiary-color};

  --icon-primary-color: #{$icon-primary-color};

  --bg-primary-color: #{$bg-primary-color};
  --bg-secondary-color: #{$bg-secondary-color};
  --bg-tertiary-color: #{$bg-tertiary-color};

  --primary-badge-color: #{$primary-badge-color};
  --text-badge-color: #{$text-badge-color};

  --main-font: #{$main-font};
}
